body{
    background-image: url('/img/bg.png');
    background-size:cover;
    background-attachment: fixed;
}
.flex{
    display: flex;
    gap: var(--gap, 1rem);
}
.logo{
    margin: 2rem;
}
.primary-header{
    align-items: center;
    justify-content: space-between;
}
.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(0.15em);
}
.primary-navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    font-family: 'Share Tech Mono', monospace;
}

.mobile-nav-toggle{
    display: none;

}
li{
    padding: 0.5em 1.5em 0.5em 1.5em;
}



  .col, #hero{
    
    
    font-family: 'Share Tech Mono', monospace;
    color: white;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(0.15em);
    padding: 2rem;
    
  }
  
  .mt-100{

    margin-top:100px;
}

.card {
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #000000;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

p{
    font-size: 14px;
}

h4{
        margin-top: 18px;
}




.btn:hover{

    background-color: #D32F2F !important;
}
  
  
@media (max-width: 35em) {
    .primary-navigation {
        z-index: 1000;
        position:  fixed;
        inset: 0 0 0 30%;
        --gap: 3em;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }
    .primary-navigation a {
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Share Tech Mono', monospace;
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    .primary-navigation[aria-expanded="true"]{
        background: url("img/x_icon.png");
    }
    .mobile-nav-toggle {
        display: block;
        z-index: 9999;
        position: absolute;
        background: url("img/hamburger_icon.png");
        background-repeat: no-repeat;
        border: 0;
        width: 2rem ;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    .mobile-nav-toggle:hover{
        cursor: pointer;
    }
}

